
@import url("/styles/header.css");
@import url("/styles/banner.css");
@import url("/styles/carrousel.css");
@import url("styles/topics.css");
@import url("styles/contacts.css");
@import url("styles/footer.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --bkg-color: #EBECEE;
    --main-font: "Poppins", sans-serif;

    --gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);

    --font-color-orange: #EB9B00;

    --white: #ffffff;
    --blue: #002F52;
}

body{
    background-color: var(--bkg-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}