.container-header-menu{
    width: 24px;
    height: 24px;
    background-image: url("/assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container-header-base{
    background-color: var(--bkg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container-header{
    display: flex;
    align-items: center; 
}

.container-img{
    padding: 1em;
    align-items: center;
}

.container-header-button{
    display: none;
}

/* Ao clicar no botão mostra o menu */
.container-header-button:checked ~ .menu-list{
    display: block;
}

.menu-list{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.menu-list-title, 
.menu-list-item{
    padding: 1em;
    background-color: var(--white);
}

.menu-list-title{
    color: var(--font-color-orange);
    font-family: var(--main-font);
    font-weight: 700;
}
.menu-list-link{
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;

    font-family: var(--main-font);
    font-weight: 400;
}

.container-title{
    display: none;
}

.options{
    display:none;
}

@media screen and (min-width: 1024px) {

    .container-header-menu{
        display: none;
    }

    .container-title, .container-title-bold{
        font-family: var(--secondary-font);
        font-size: 30px;
    }

    .container-title{
        font-weight: 400;
        display: block;
    }

    .container-title-bold{
        font-weight: 700;
    }

    .options{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .options-item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .options-button{
        display: none;
    }

    .options-button:checked ~ .menu-list{
        display: block;
        width: auto;
    }


    .options-link{
        text-decoration: none;
        color: var(--black);
    }

    .img-transparent{
        display: none;
    }
}
